<% include partials/header.ejs %>
<!-- <div class ="row">
    <div class="col-xs-12">
	<p class="highlight-line">Hi, I am Ugur;</p>
	<p>This is my small space on the internet where I talk about anything that I find interesting. If it's a game project or anything related to programming, I almost always have a link to the source code at my <a class="inline-link" href="https://github.com/ugurkodak"><i class="fa fa-github" arie-hidden="true"></i>GitHub</a> page. When I have an update about something, it jumps to the top contained within it's related title and history. If you want to contact me, send an <a class="inline-link" href="#"><i class="fa fa-envelope" arie-hidden="true"></i>email</a> and if you want to learn about my background visit my <a class="inline-link" href="https://www.linkedin.com/in/ugurkodak"><i class="fa fa-linkedin-square" arie-hidden="true"></i>LinkedIn</a> page.</p>
	<p>Cheers.</p>
	<hr>
    </div>
</div> -->

<div class="row">
    <div class="col-xs-10" id="content">
	<% for (let i = 0; i < topics.length; i++) { %>
	    <h1><%= topics[i].title %></h1>
	    <h2><%= topics[i].posts[0].title %></h2>
	    <p><%= topics[i].posts[0].content %></p>
	    <h3>Older posts about this topic:</h3>
	    <div class="btn-group-vertical" style="margin-bottom: 2px;">
		<% for (let j = 1; j < topics[i].posts.length; j++) { %>
		    <button class="btn-old-post btn btn-default" type="button" data-toggle="collapse" data-target=<%= "#" + topics[i].posts[j]._id %>><%= topics[i].posts[j].title %></button>
		    <div id=<%= topics[i].posts[j]._id %> class="post collapse">
			<h2><%= topics[i].posts[j].title %></h2>
			<p><%= topics[i].posts[j].content %></p>
		    </div>
		<% } %>
	    </div>
	    <hr>
	<% } %>
    </div>
    
    <div class="col-xs-2">
	<h1>All Topics</h1>
	<% for (let i = 0; i < topics.length; i++) { %>
	    <h3><%= topics[i].title %></h3>
	<% } %>
    </div>
</div>


<% include partials/footer.ejs %>
