html(lang='en')
    head
        include header.pug
        style(type='text/css').
            .dropdown-toggle:hover {
                border: none;
                text-decoration: none;
            }
            .dropdown-menu {
                background-color: #000;
                border-radius: 0;
                overflow: auto;
                overflow-x: hidden;
                //overflow-y: hidden;
                max-height: 300px;
                //border:dashed white 1px;
                //- border-radius: 60px; Note: This looks great but doesn't fit the theme
            }
            .typewriter {
            font-family: 'Courier New', Courier, monospace;
            font-size: 16px;
            color: #6ac;
            user-select: none;
            width: 0;
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: 1px solid transparent; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            //margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            animation: 
                typing var(--duration) steps(var(--steps), end) var(--delay) forwards,
                blink-caret 1s step-end var(--duration),
                flicker 4s ease 3s 1 forwards;
            }
            @keyframes typing {
            from { width: 0 }
            to { width: 100% }
            }
            @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: white; }
            }
            @keyframes flicker {
            5% { opacity: 0.5 }
            10% { opacity: 1 }
            20% { opacity: 0.2 }
            50% { opacity: 1}
            100% {white-space: normal }
            }
    body()
        div(class='container-fluid')
            div(class='d-flex flex-column')
                div(class='align-self-start mt-2')
                    h1(class='typewriter' style='--steps: 6; --duration: 0.5s; --delay: 0s;') Hello!
                div(class='align-self-start')
                    - var steps = '--steps:' + message.length + ';';
                    h1(class='typewriter' style=steps + ' --duration: 2s; --delay: 2s;') #{message}
                nav(class='nav nav-pills d-flex flex-row justify-content-around' style='margin-top:50px;')
                    a(class='btn-outgoing btn-current nav-link' href='#') All
                    a(class='btn-outgoing nav-link' href='#') Projects
                    a(class='btn-outgoing nav-link' href='#') Miscellaneous
                //- //////
                div(class='d-flex flex-column mt-5 ml-2 mr-2' style='min-height: 100px;')
                    each item, i in data
                        -
                            let date = item.post.date.toLocaleDateString("en-US", {
                                year: 'numeric', month: 'long', day: 'numeric'
                            });
                        div(style='font-size: 14') #{date}
                        div(class='d-flex flex-row' style='flex-wrap: wrap;')
                            h1() #{item.post.title.toString()}
                            div(class='dropdown mb-3')
                                //- todo: add index property to post
                                a(class='btn-local dropdown-toggle' href='#' role='button' id='dropdownMenuLink' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' style='border: none; font-size: 14px;') #{item.topic.title.toString()} #INDEX
                                div(class='dropdown-menu' aria-labelledby='dropdownMenuLink')
                                    each other in item.others
                                        a(class='btn-outgoing dropdown-item' href='#' style='white-space: normal; font-size: 14px;') #INDEX #{other.title.toString()}
                        if i == 0
                            div(id='last-post' class='collapse post-content')
                            a(class='btn-local' data-toggle='collapse' href='#last-post' role='button' aria-expanded='false' aria-controls='last-post' style='border-top: dashed 1px; text-align: center; font-size: 20px; user-select: none;') &#8633;
            include footer.pug
            script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.min.js")
            if data[0]
                //- todo: solve the escaped interpolation for the markdown rendering. chrome throws warning.
                script().
                    let md = window.markdownit();
                    $("#last-post").append(md.render(!{JSON.stringify(data[0].content.text)}));