html(lang='en')
    head
        include header.pug
        style(type='text/css').
            .nav-selected {
                color: #a0a;
            }
            #dropdown-others:hover {
                border: none;
                text-decoration: none;
            }
            .no-caret {
                cursor: default;
            }
            .no-caret:hover,
            .no-caret:focus,
            .no-caret:active {
                color: #b83;
            }
            .no-caret:after {
                display: none;
            }
            .dropdown-menu {
                background-color: #000;
                border-radius: 0;
                overflow: auto;
                overflow-x: hidden;
                //overflow-y: hidden;
                max-height: 300px;
                //border:dashed white 1px;
                //- border-radius: 60px; Note: This looks great but doesn't fit the theme
            }
            .typewriter {
            font-family: 'Courier New', Courier, monospace;
            font-size: 16px;
            color: #3b3;
            user-select: none;
            width: 0;
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: 1px solid transparent; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            //margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            animation: 
                typing var(--duration) steps(var(--steps), end) var(--delay) forwards,
                blink-caret 1s step-end var(--duration),
                flicker 4s ease 3s 1 forwards;
            }
            @keyframes typing {
            from { width: 0 }
            to { width: 100% }
            }
            @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: white; }
            }
            @keyframes flicker {
            5% { opacity: 0.5 }
            10% { opacity: 1 }
            14% { opacity: 0.2 }
            18% { opacity: 1}
            100% {white-space: normal }
            }
    body()
        div(class='container-fluid')
            div(class='d-flex flex-column')
                div(class='d-flex flex-row justify-content-between mt-2')
                    div(class='d-flex flex-column col-6 p-0')
                        div(class='d-flex flex-column align-self-start')
                            h1(class='typewriter' style='--steps: 6; --duration: 0.5s; --delay: 0s;') Hello!
                            - var steps = '--steps:' + message.length + ';';
                            h1(class='typewriter' style=steps + ' --duration: 2s; --delay: 2s;') #{message}
                    div(class='d-flex flex-column col-6 p-0')
                        nav(class='nav nav-pills d-flex flex-row justify-content-end')
                            a(class='click click-external nav-link pl-0 pr-0' href='https://github.com/ugurkodak') GitHub
                            span(class='nav-link pl-0 pr-0' style='user-select:none;') &nbsp;|&nbsp;
                            a(class='click click-external nav-link pl-0 pr-0' href='https://www.linkedin.com/in/ugurkodak/') LinkedIn
                            span(class='nav-link pl-0 pr-0' style='user-select:none;') &nbsp;|&nbsp;
                            a(class='click click-external nav-link pl-0 pr-0' href='https://www.linkedin.com/in/ugurkodak/') LinkedIn
                            span(class='nav-link pl-0 pr-0' style='user-select:none;') &nbsp;|&nbsp;
                            a(class='click click-external nav-link pl-0 pr-0' href='https://www.linkedin.com/in/ugurkodak/') LinkedIn
                nav(class='nav nav-pills d-flex flex-row mt-4') 
                    span(class='nav-link pl-0') Filter:
                    if filter == ''
                        a(class='click click-request nav-selected nav-link pl-0 pr-0' href='/') All
                    else 
                        a(class='click click-request nav-link pl-0 pr-0' href='/') All
                    each tag, i in tags
                        if tag == filter
                            span(class='nav-link') |
                            a(href='/tag/' + tag class='click click-request nav-selected nav-link pl-0 pr-0') #{tag}
                        else
                            span(class='nav-link') |
                            a(href='/tag/' + tag class='click click-request nav-link pl-0 pr-0') #{tag}
                div(class='d-flex flex-column mt-5 ml-2 mr-2' style='min-height: 100px;')
                    each item, i in data
                        -
                            let date = item.post.date.toLocaleDateString("en-US", {
                                year: 'numeric', month: 'long', day: 'numeric'
                            });
                        div(style='font-size: 15px; user-select: none;') #{date}
                        div(class='d-flex flex-row' style='flex-wrap: wrap;')
                            a(class='click click-request' href='#' style='font-size: 2em;') #{item.post.title.toString()}
                            div(class='dropdown mb-3')
                                if item.others.length > 0
                                    a(class='click click-local dropdown-toggle' href='#' role='button' id='dropdown-others' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' style='border: none; font-size: 14px;') #{item.topic.title.toString()} ##{item.post.index.toString()}
                                else
                                    a(class='no-caret click click-local dropdown-toggle' href='#' role='button' id='dropdown-others' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' style='border: none; font-size: 14px;') #{item.topic.title.toString()} ##{item.post.index.toString()}                                    
                                div(class='dropdown-menu' aria-labelledby='dropdown-others')
                                    each other in item.others
                                        a(class='click click-request dropdown-item' href='#' style='white-space: normal; font-size: 14px;') ##{other.index.toString()} #{other.title.toString()}
                        if i == 0
                            div(id='last-post' class='collapse post-content')
                            a(class='click click-local' data-toggle='collapse' href='#last-post' role='button' aria-expanded='false' aria-controls='last-post' style='border-top: dashed 1px; text-align: center; font-size: 20px; user-select: none;') &#8633;
                        span(class='mb-4')
            include footer.pug
            script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.min.js")
            if data[0]
                //- todo: solve the escaped interpolation for the markdown rendering. chrome throws warning.
                script().
                    let md = window.markdownit();
                    $("#last-post").append(md.render(!{JSON.stringify(data[0].content.text)}));